*, *:before, *:after {
    box-sizing: inherit;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

html {
    box-sizing: border-box;
    color: #464653;
    font: 300 16px/1.5 'Lato',sans-serif;
}

/* Home Title --------------------------------- */
.block-text {
    padding: 3rem;
    position: relative;
    z-index: 2;
}

.center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 15px;
}

@media (min-width: 800px) {
  .home-header {
      cursor: default;
      width: 35vw;
      opacity: .9;
      z-index: 2;
  }
}
.svg-text {
    fill: #464653;
    font-family: 'Lato',sans-serif;
    text-transform: uppercase;
}
/* -------------------------------------------- */

#skyline {
  position: relative;
  display: block;

  width: 80vw;

  margin: 0 auto;
}
#skyline .fill,
#skyline .inv {

  position: absolute;
  top:0;
  left:0;

  width: 80vw;
  border-bottom: 5px solid #D9534F;
}

#skyline .fill {
  z-index: 1;
}
#skyline svg {
  z-index: 2;
    border-bottom: none;
}
#skyline .inv {
  z-index: 3;
}

nav {
  text-align: center;
  font-size: 30px;
}
nav a, nav a:hover {
  text-decoration: none;
  color: black;
}
